/* Mobile version */
@media only screen and (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
	}

	html {
		background-image: url(../images/binaryCode.jpg);
	}

	.body {
		max-width: 100%;
	}

	.container {
		width: 100%;
		margin-top: 0;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		max-width: 100%;
		margin-bottom: 5em;
		margin-right: 0em;
		background: #1b1b1b;
		border-bottom: 0.1em solid #050505;
		z-index: 9;
	}

	.hamburger-menu {
		width: 35px;
		height: 30px;
		position: fixed;
		top: 0.7em;
		right: 0.5em;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		z-index: 9;
	}

	.line {
		width: 80%;
		height: 0.1em;
		background-color: #4aaaa5;
		transition: all 0.9s;
	}

	.change .line-1 {
		transform: rotateZ(-45deg) translate(-8px, 6px);
	}

	.change .line-2 {
		opacity: 0;
	}

	.change .line-3 {
		transform: rotateZ(45deg) translate(-8px, -6px);
	}

	.nav.hide {
		background-color: #1b1b1b;
		position: relative;
		top: 0;
		right: -350px;
		display: flex;
		z-index: 9;
		justify-content: center;
		align-items: center;
		transition: right 10s;
	}

	.nav-links {
		font-family: "Source Sans Pro", sans-serif;
		font-weight: bolder;
		padding: 1em;
		background: #1b1b1b;
		z-index: 9;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		border-bottom: 1px solid rgb(0, 0, 0);
		border-left: 1px solid rgb(0, 0, 0);
	}

	.nav-item {
		list-style: none;
		margin-top: 3.5em;
		margin-bottom: 0.6em;
		text-align: center;
		border-bottom: 0.03em solid #4aaaa5;
	}

	.link {
		text-decoration: none;
		font-size: 1em;
		color: #4aaaa5;
		font-weight: 200;
		text-transform: uppercase;
		position: relative;
	}

	.link::after {
		bottom: 0;
		transform-origin: right;
	}

	.link::before {
		top: 0;
		transform-origin: left;
	}

	.logo {
		color: #4aaaa5;
		padding: 1em;
		float: left;
		font-size: 1em;
		text-align: center;
	}

	h1 {
		display: flex;
		justify-content: flex-start;
		font-family: "Source Sans Pro", sans-serif;
		font-size: 1em;
		text-transform: uppercase;
	}

	/* Index  */

	.wrapper-index {
		background: rgb(22, 22, 22, 0.9);
		margin: 5em 0.5em 5em 2.5em;
		overflow: hidden;
	}

	h2 {
		color: #4aaaa5;
		text-align: center;
		background: #1b1b1b;
		font-size: 1.2em;
		font-family: "Roboto", sans-serif;
		border-bottom: 0.01em solid #050505;
		padding: 1em 0em;
		text-transform: uppercase;
	}

	.skills-list {
		padding-left: 2em;
		padding-right: 0.6em;
		text-align: justify;
		margin-bottom: 1em;
	}

	.skills-list li {
		font-family: "Roboto", sans-serif;
		color: #979797;
		padding-top: 0.8em;
	}

	.column-portfolio-mobile {
		z-index: -9;
	}

	.column-text {
		width: 100%;
		border-bottom: 0.01em solid #050505;
		margin-top: 1em;
	}

	.column-text p {
		font-family: "Roboto", sans-serif;
		color: #979797;
		max-width: 100%;
		margin: 0 1em;
		text-align: justify;
		margin-bottom: 10px;
		z-index: -9;
	}

	.contacts-mobile {
		position: fixed;
		top: 200px;
		left: 0;
		padding: 10px 5px;
	}

	.contacts-mobile a {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 10px 5px;
	}

	.contact-links-mobile {
		display: flex;
		width: 35px;
		flex-direction: column;
		background: rgb(22, 22, 22, 0.8);
		justify-content: center;
		align-items: center;
		padding: 0 5px;
	}

	img.icon-github {
		width: 38px;
	}

	img.icon-linkedin {
		width: 27px;
	}

	img.icon-mail {
		width: 30px;
	}

	.resume {
		color: #4aaaa5;
		text-decoration: none;
		font-family: "Roboto", sans-serif;
		font-size: large;
		font-weight: bolder;
		padding: 1em;
		text-transform: uppercase;
	}

	.resume a {
		text-decoration: none;
		color: #4aaaa5;
	}

	/* PORTFOLIO */

	.portfolio {
		margin: 5em 0.8em 0 0.8em;
	}

	.contacts-portfolio {
		position: absolute;
		top: 150px;
		left: 100px;
		right: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		padding: 10px 5px;
	}

	.contact-links-portfolio {
		width: 120px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: rgb(22, 22, 22, 0.8);
		padding: 5px;
	}

	.contact-links-portfolio a {
		width: 100px;
		padding-left: 5px;
	}

	img.icon-mail {
		width: 35px;
	}

	.portfolio-images {
		width: 90%;
		border: 4px solid #4aaaa5;
		padding: 5px;
	}

	.column-portfolio-mobile {
		max-width: 100%;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		border-bottom: 0.01em solid #050505;
		padding: 2em 0.3em;
		background: rgb(22, 22, 22, 0.9);
		margin: 5em 1em;
		position: relative;
		z-index: 1;
	}

	.about-project-mobile {
		display: flex;
		flex-direction: column;
		align-self: center;
		padding: 0 0.5em;
		color: #979797;
	}

	.about-project-mobile p.strong {
		font-size: 20px;
		text-decoration: none;
		color: #3bc0b9;
		border-bottom: 2px solid #3bc0b9;
	}

	.about-project-mobile p {
		text-align: justify;
		text-align: center;
		font-size: 15px;
		padding: 0.5em 0;
	}

	.icon-github-portfolio-mobile {
		width: 15%;
		display: flex;
		padding-bottom: 20px;
		margin: 0 auto;
	}

	footer {
		background: #181818;
		border-top: 0.5em solid #4aaaa5;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		height: 5%;
		z-index: 2;
	}

	.paragraph-footer {
		font-family: "Roboto", sans-serif;
		text-align: center;
		font-size: 0.7em;
		color: #979797;
		margin-top: 1em;
	}

	/* Contact */

	.wrapper-contact {
		margin: 6em 1em;
		background: rgb(22, 22, 22, 0.9);
		margin-bottom: 5em;
	}

	input[type="text"] {
		background: #b3b3b3;
		width: 100%;
		padding: 0.7em;
		box-sizing: border-box;
		margin-bottom: 1.5em;
		border: none;
	}

	.form-main {
		padding: 2.5em 1em 2.5em 2.5em;
		border-bottom: 0.01em solid #050505;
	}

	textarea {
		width: 100%;
		height: 8em;
		padding: 12px 20px;
		box-sizing: border-box;
		background: #b3b3b3;
		font-size: 16px;
		resize: none;
		margin-bottom: 1em;
	}

	label {
		display: block;
		padding-bottom: 0.7em;
		padding-left: 0.5em;
		color: #4aaaa5;
		font-family: "Roboto", sans-serif;
	}

	::placeholder {
		color: rgb(78, 78, 78);
		font-family: "Roboto", sans-serif;
	}

	.submit-button {
		width: 50%;
		display: block;
		margin: 1em auto;
		background-color: #4aaaa5;
		color: rgb(19, 19, 19);
		padding: 1em;
		font-family: "Roboto", sans-serif;
		border: none;
		cursor: pointer;
	}

	.submit-button:hover {
		background-color: #2e837f;
		cursor: pointer;
	}
}

/* Desktop Version */

@media only screen and (min-width: 600px) {
	* {
		margin: 0;
		padding: 0;
	}

	html {
		background-image: url(../images/binary-code-abstract-lu.jpg);

		background-size: auto;
	}

	.body {
		width: 100%;
	}

	.container-desktop {
		width: 100%;
		margin-top: 0;
	}

	/* Header */

	.header-desktop {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		margin-top: 0em;
		background: #181818;
		border-bottom: 0.1em solid #000000;
	}

	.logo-desktop {
		color: #4aaaa5;
		padding: 1.2em;
		float: left;
		margin-left: 2em;
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		text-transform: uppercase;
	}

	.nav-desktop {
		padding: 2em;
		margin-right: 2em;
	}

	.nav-links-desktop {
		display: flex;
	}

	.nav-links-desktop li {
		list-style: none;
		padding-right: 0.8em;
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: bold;
	}

	.nav-links-desktop li a {
		text-decoration: none;
		color: #4aaaa5;
	}

	.nav-item::after {
		content: "";
		display: block;
		width: 0;
		height: 2px;
		background: #4aaaa5;
		transition: width 0.4s;
	}

	.nav-item:hover::after {
		width: 100%;
		transition: width 0.4s;
	}

	/* Index  */

	.wrapper-desktop-index {
		margin: 4.5em;
		background: #181818;
		padding: 0 2em;
	}

	h2 {
		font-size: 2em;
		color: #4aaaa5;
		text-align: center;
		background: #181818;
		width: 100%;
		font-family: "Source Sans Pro", sans-serif;
		margin-top: 2em;
		border-bottom: 0.01em solid #050505;
		padding: 1em 0em;
		text-transform: uppercase;
	}

	.skills-list {
		padding-left: 2em;
		text-align: justify;
		margin-bottom: 1em;
	}

	.skills-list li {
		font-family: "Source Sans Pro", sans-serif;
		color: #979797;
		padding-top: 0.8em;
		font-size: 20px;
	}

	.column-text-desktop {
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		color: #979797;
		max-width: 100%;
		margin: 1em;
		text-align: justify;
		padding-bottom: 2.5em;
		border-bottom: 1px solid #000;
	}

	.line-main {
		width: auto;
		height: 0.5px;
		color: black;
		background: black;
	}

	.contacts {
		position: fixed;
		top: 250px;
		left: 0;
		display: flex;
		padding: 10px 5px;
	}

	.contacts a {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 15px 5px;
	}

	.contact-links {
		display: flex;
		flex-direction: column;
		background: rgb(22, 22, 22, 0.9);
		justify-content: center;
		align-items: center;
	}

	img.icon-github:hover,
	img.icon-linkedin:hover,
	img.icon-mail:hover {
		transform: scale(1) rotateZ(360deg);
		-moz-transform: scale(1) rotateZ(360deg);
		-webkit-transform: scale(1) rotateZ(360deg);
		-o-transform: scale(1) rotateZ(360deg);
		transition: 1s;
	}

	img.icon-github {
		width: 48px;
	}

	img.icon-linkedin {
		width: 37px;
	}

	img.icon-mail {
		width: 40px;
	}

	.resume-desktop {
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		text-decoration: none;
		text-transform: uppercase;
		padding-bottom: 2em;
		padding-left: 0.5em;
	}

	.resume-desktop a {
		color: #4aaaa5;
		text-decoration: none;
	}

	.resume-desktop:hover::after {
		width: 8%;
		transition: width 0.4s;
	}

	.resume-desktop::after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		background: #4aaaa5;
		transition: width 0.4s;
	}

	/* Portfolio */

	.portfolio-desktop {
		margin: 3em 3em 0 2em;
	}

	.column-portfolio-desktop {
		background: rgb(22, 22, 22, 0.9);
		display: flex;
		flex-direction: row;
		/* justify-content: space-evenly; */
		align-items: center;
		justify-content: center;
		max-width: 90%;

		padding: 3em 2em;
		margin: 4em 0.5em 4em 4.5em;
	}

	.column-portfolio-desktop a {
		width: 70%;
	}

	.column-portfolio-desktop .portfolio-images-desktop {
		width: 60%;
		border: 2px solid #4aaaa5;
		padding: 0.5em;
	}

	.portfolio-images-desktop img {
		margin: 1em 1.5em;
	}

	.contacts {
		display: flex;
		justify-content: space-between;
	}
	.contact-links {
		display: flex;
	}

	.icon-github-portfolio {
		width: 4em;
	}

	.about-project-desktop {
		width: 100%;
		/* padding: 0 1em; */
		text-align: center;
		flex: 1;
		/* justify-content: center;
		align-items: center; */
	}

	.about-project-desktop p {
		display: flex;
		flex-direction: column;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		color: #979797;
		font-size: 20px;
	}

	.about-project-desktop p.strong {
		color: #2e837f;
		font-size: 20px;
		border-bottom: 2px solid #2e837f;
		/* padding: 0 1em; */
	}

	/* Contact */
	.wrapper-desktop-form {
		margin: 1.5em 10em;
		background: #181818;
		margin-bottom: 7em;
		padding: 0 1em;
	}

	input[type="text"] {
		background: #979797;
		color: black;
		padding: 0.7em;
		box-sizing: border-box;
		margin-bottom: 1.5em;
		border: none;
	}

	.form-main-desktop {
		padding: 1em 12em;
		margin-top: 2em;
		margin-bottom: 2em;
		border-bottom: 0.01em solid #050505;
	}

	textarea {
		width: 100%;
		height: 12em;
		padding: 12px 20px;
		box-sizing: border-box;
		background-color: #979797;
		font-size: 16px;
		resize: none;
		margin-bottom: 2em;
	}

	label {
		display: block;
		padding-bottom: 0.5em;
		color: #4aaaa5;
		font-family: "Roboto", sans-serif;
		font-size: 1.3em;
	}

	::placeholder {
		color: rgb(19, 19, 19);
		font-family: "Roboto", sans-serif;
	}

	.input-form-desktop {
		width: 100%;
		margin-right: 2em;
	}

	.submit-button-desktop {
		width: 50%;
		display: block;
		margin: 1em auto;
		background-color: #4aaaa5;
		color: black;
		padding: 1em 1em;
		font-family: "Roboto", sans-serif;
		font-size: 1em;
		border: none;
		cursor: pointer;
	}

	.submit-button-desktop:hover {
		background-color: #2e837f;
		cursor: pointer;
	}

	/* Footer */

	.footer-desktop {
		background: #181818;
		border-top: 0.5em solid #4aaaa5;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		height: 5%;
	}

	.p-footer-desktop {
		font-family: "Roboto", sans-serif;
		text-align: center;
		font-size: 0.7em;
		color: #979797;
		margin: 1em 2em;
	}
}

/* Tablet  Version */
/* @media (min-width: 479px) and (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
	}

	html {
		background-image: url(../images/binary-code-abstract-lu.jpg);
	}

	.body {
		width: 100%;
	}

	.container-tablet {
		width: 100%;
		margin-top: 0;
		background-image: url(../images/binary-code-abstract-lu.jpg);
	} */

/* .header-tablet {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		background: #181818;
		border-bottom: 0.1em solid #050505;
	}

	.logo-tablet {
		color: #4aaaa5;
		padding: 1em;
		float: left;
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		text-align: center;
		text-transform: uppercase;
	}

	.nav-tablet {
		margin-right: 5%;
		margin-top: 1.7em;
		margin-left: 25%;
		display: flex;
		min-width: 100%;
	}

	.nav-links-tablet {
		display: flex;
	}

	.nav-links-tablet li {
		list-style: none;
		margin-right: 5%;
		font-family: "Roboto", sans-serif;
		font-size: 1.2em;
	}

	.nav-links-tablet a {
		text-decoration: none;
		color: #4aaaa5;
	}

	li a:hover {
		color: #88fff9;
	}



	.wrapper-tablet-index {
		margin: 5%;
		background: #181818;
		height: 41em;
		margin-bottom: 15em;
	} */

/* h2 {
		font-size: 10px;
		color: #4aaaa5;
		text-align: center;
		background: #181818;
		font-family: "Roboto", sans-serif;
		margin-top: 2em;
		border-bottom: 0.01em solid #050505;
		padding: 1em 0em;
		text-transform: uppercase;
	}

	.column-tablet img {
		width: 25%;
		margin-left: 2em;
		margin-right: 1.5em;
		margin-bottom: 0.8em;
		margin-top: 3.5em;
		float: left;
	}

	.column-text-tablet {
		font-size: 100%;
		width: 100%;
		margin-top: 3em;
		border-bottom: 0.01em solid #050505;
	}

	p {
		font-family: "Roboto", sans-serif;
		color: #979797;
		max-width: 100%;
		margin: 0 1em;
	}

	.icon-github {
		width: 8%;
		float: right;
		margin: 1em 0.8em;
	}

	.icon-mail {
		width: 8%;
		float: right;
		margin: 1em 0em;
	} */

/* .icon-linkedin {
		width: 6%;
		margin: 1em 1em;
		float: right;
	}

	.resume-desktop {
		font-family: "Roboto", sans-serif;
		font-size: 1.5em;
		float: left;
		margin: 0.5em;
		text-decoration: none;
	}

	.resume-desktop a {
		margin: 1em;
		color: #4aaaa5;
		text-decoration: none;
	}

	.resume-desktop a:hover {
		margin: 1em;
		color: #88fff9;
		text-decoration: none;
	} */

/* 	

	.wrapper-tablet-portfolio {
		margin: 5%;
		background: #181818;
		height: 65em;
		margin-bottom: 10em;
	}

	.portfolio-tablet {
		color: #4aaaa5;
		font-size: 2em;
		text-align: center;
		background: #181818;
		width: 100%;
		font-family: "Roboto", sans-serif;
		margin-bottom: 1.5em;
		border-bottom: 0.01em solid #050505;
		padding: 1em 0em;
	}

	.column-portfolio-tablet {
		min-width: 100%;
		display: flex;
		border-bottom: 0.01em solid #050505;
	}

	.portfolio-images-tablet {
		cursor: pointer;
		width: 70%;
		margin-left: 1em;
	}

	.icon-github-portfolio {
		width: 20%;
	}

	.about-project-1-tablet {
		float: right;
	}

	.about-project-1-tablet p {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1em;
		margin: 1.5em 1.5em;
	}

	.about-project-2-tablet {
		float: right;
	}

	.about-project-2-tablet p {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1em;
		margin: 2em 1em;
	}

	.about-project-3-tablet {
		float: right;
	}

	.about-project-3-tablet p {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1em;
		margin: 2.5em 1em;
	}

	.about-project-4-tablet {
		float: right;
	}

	.about-project-4-tablet p {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1em;
		margin: 2.5em 1.5em;
	}

	
	.wrapper-tablet-form {
		margin: 5%;
		background: #181818;
		height: 50em;
		margin-bottom: 10em;
	}

	.input-form-tablet {
		background: #979797;
		color: black;
		padding: 0.7em;
		box-sizing: border-box;
		margin-bottom: 1.5em;
		border: none;
		min-width: 100%;
	}

	.form-main-tablet {
		padding: 5%;
		margin-top: 2em;
		border-bottom: 0.01em solid #050505;
	} */

/* textarea {
		width: 100%;
		height: 12em;
		padding: 12px 20px;
		box-sizing: border-box;
		background-color: #979797;
		font-size: 16px;
		resize: none;
		margin-bottom: 2em;
	}

	label {
		display: block;
		padding-bottom: 0.5em;
		color: #4aaaa5;
		font-family: "Roboto", sans-serif;
		font-size: 1.3em;
	}

	::placeholder {
		color: rgb(19, 19, 19);
		font-family: "Roboto", sans-serif;
	}

	.submit-button-tablet {
		width: 50%;
		display: block;
		margin: 1em auto;
		background-color: #4aaaa5;
		color: black;
		padding: 1em 1em;
		font-family: "Roboto", sans-serif;
		font-size: 1em;
		border: none;
		cursor: pointer;
	}

	.submit-button-tablet:hover {
		background-color: #2e837f;
		cursor: pointer;
	}

	

	.footer {
		background: #181818;
		border-top: 0.5em solid #4aaaa5;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		height: 5%;
	} */

/* .paragraph-footer {
		font-family: "Roboto", sans-serif;
		text-align: center;
		font-size: 0.7em;
		color: #979797;
		padding: 0.8em;
		margin: auto;
	}
} */
